@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<div> 

    <h2>CAR-T-Konnect - Migration</h2>

    <small>Will be waiting for new version to be deployed</small>

</div>
<h1>@Model.Name - page</h1>
<p>@Model.WelcomeText</p>