@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<div> 

    <h1>CAR-T-Konnect - Migration</h1>

</div>
<h1>@Model.Name</h1>
<p>@Model.WelcomeText</p>