<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="61fa905c-6383-4f6a-8883-ea9e9525b069" name="cognipharmas communicative bunny" alias="cognipharmas-communicative-bunny" type="" color="" trialExpireDate="2021-09-14T09:46:59">
  <environment type="live" name="Live" id="51bf8937-73b3-43bd-a123-2b7e9a3662ba">https://cognipharmas-communicative-bunny.euwest01.umbraco.io</environment>
</environments>